page-spotify {
  spotify-albums-search-result, spotify-tracks-search-result {
    ion-thumbnail, .info {
      float: left;
    }

    ion-thumbnail {
      margin-right: 10px;
    }

    button {
      float: right;
    }
  }
}
