<ion-header>
  <ion-navbar color="youtube">
    <ion-title>YouTube API</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class='container'>
    <div class="page-header">
      <h2>
        YouTube Search
      </h2>
    </div>
    <div class="row">
      <div class="input-group input-group-lg col-md-12">
        <youtube-search-box (loading)="loading = $event"
                            (results)="updateResults($event)"
                            (channelsResults)="updateChannelResults($event)"></youtube-search-box>
      </div>
    </div>
    <div padding>
      <ion-segment [(ngModel)]="type">
        <ion-segment-button value="videos">
          Videos
        </ion-segment-button>
        <ion-segment-button value="channels">
          Channels
        </ion-segment-button>
      </ion-segment>
    </div>
    <div [ngSwitch]="type">
      <div class="row" *ngSwitchCase="'videos'">
        <youtube-search-result *ngFor="let result of results"
                               [result]="result">
        </youtube-search-result>
      </div>
      <div class="row" *ngSwitchCase="'channels'">
        <youtube-channels-search-result *ngFor="let result of channelsResults"
                               [result]="result">
        </youtube-channels-search-result>
      </div>
    </div>

  </div>
</ion-content>
